<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="shadow-lg p-3 container-fluid">
    <img src="https://4b10d994-ea89-4342-aaeb-17eef3ebda92-00-3jhl78hd00t1z.pike.replit.dev/static/logot.svg" alt="MASSO" width="30" height="30">&nbsp
    <a class="navbar-brand" href="#"> MASSO </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add TD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cancel TD</a>
        
          </a>  <li class="nav-item">
          <a class="nav-link" href="#">Assessment Roll</a>

        </a>
         
        </li>
          </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>